div{
    border-style: outset;
    border-width: 10px;
    border-color: graytext;
    padding: 70px;
    font-size: 20px;
    }
a{
  margin-top: 40px;
  margin-left: 20px;
  background-color: purple;
}
.container{
    }
nav{
    font-style: oblique;
    background-color: gold;
}
body{
    background-size: cover;
    color: blue;
}
