div{
    border-style: outset;
    border-width: 10px;
    border-color: graytext;
    padding: 70px;
    font-size: 20px;
    background-color: red;
}
a{
  margin-top: 40px;
  margin-left: 20px;
  background-color: purple;
}
.row{
    border-color: blue;
    background-color:green;
}
nav{
    font-style: oblique;
    background-color: gold;
}